<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.time.cat">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"/>

    <application
        android:name=".TimeCatApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name="com.qihoo.updatesdk.lib.UpdateTipDialogActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <service
            android:name="com.qihoo.appstore.updatelib.CheckUpdateService"
            android:exported="false"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a669093a40fa335210000fe"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>

        <activity
            android:name=".ui.modules.setting.SettingActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".ui.modules.intro.PreSettingActivity"
            android:launchMode="singleTask"
            android:theme="@style/PreSettingTheme"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".test.TestActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ui.modules.screen.CaptureResultActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:process=":monitor"
            android:theme="@style/TimeCatTheme"/>
        <activity
            android:name=".ui.modules.activity.TimeCatActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/TimeCatTheme">

            <!-- android:autoRemoveFromRecents="true" -->
            <!-- android:excludeFromRecents="true" -->
            <!-- android:noHistory="true" -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.modules.copy.CopyActivity"
            android:autoRemoveFromRecents="true"
            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:process=":monitor"
            android:theme="@style/OverlayTheme"/>

        <service
            android:name=".ui.service.TimeCatMonitorService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":monitor">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility"/>
        </service>
        <service
            android:name=".ui.service.ListenClipboardService"
            android:process=":monitor"/>
        <service
            android:name=".ui.service.ListenClipboardService$GrayInnerService"
            android:process=":monitor"/>
        <service
            android:name=".ui.service.ListenClipboardService"
            android:process=":monitor"/>
        <service
            android:name=".ui.service.JobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":monitor"/>
        <service
            android:name=".ui.service.GetAwayNotificationListenerService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:process=":monitor">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>

        <activity
            android:name=".ui.modules.intro.SplashActivity"
            android:theme="@style/ColorTranslucentTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>


                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="notify_universal_copy_broadcast"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.modules.intro.IntroActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/ColorTranslucentTheme"/>
        <activity
            android:name=".ui.modules.activity.OcrActivity"
            android:theme="@style/BaseAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="application/*"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="multipart/*"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.modules.main.MainActivity"
            android:launchMode="singleInstance"
            android:theme="@style/ColorTranslucentTheme">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->

            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".ui.modules.setting.SettingTimeCatActivity"
            android:theme="@style/ColorTranslucentTheme"/>
        <activity
            android:name=".ui.modules.setting.SettingFloatViewActivity"
            android:process=":monitor"
            android:theme="@style/ColorTranslucentTheme"/>
        <activity
            android:name=".ui.modules.searchengine.SearchEngineActivity"
            android:theme="@style/SearchEngineAppTheme"/>
        <activity
            android:name=".ui.modules.activity.WebActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/WebActivityTheme"/>
        <activity
            android:name=".ui.modules.whitelist.WhiteListActivity"
            android:theme="@style/BaseAppTheme"/>
        <activity
            android:name=".ui.modules.floatviewwhitelist.FloatViewWhiteListActivity"
            android:theme="@style/BaseAppTheme"/>
        <activity
            android:name=".ui.modules.screen.ScreenCaptureActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:process=":monitor"
            android:theme="@style/ScreenCaptureTheme"/>
        <activity
            android:name=".ui.modules.about.DonateActivity"
            android:theme="@style/BaseAppTheme"/>

        <receiver android:name=".ui.service.WakeUpBroadcastReceiver">
            <intent-filter>
                <action android:name="com.shang.timecat.wake"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.modules.activity.DiyOcrKeyActivity"
            android:theme="@style/DiyOcrKeyAppTheme"/>
        <activity
            android:name=".util.cropper.handler.CropImageActivity"
            android:theme="@style/BaseAppTheme"/>

        <service
            android:name=".ui.service.voiceInteraction.BBVoiceInteractionService"
            android:permission="android.permission.BIND_VOICE_INTERACTION"
            android:process=":monitor">
            <meta-data
                android:name="android.voice_interaction"
                android:resource="@xml/assist_service"/>

            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService"/>
            </intent-filter>
        </service>
        <service
            android:name=".ui.service.voiceInteraction.BBVoiceInteractionSessionService"
            android:permission="android.permission.BIND_VOICE_INTERACTION"
            android:process=":monitor"/>

        <activity
            android:name=".ui.modules.intro.HowToUseActivity"
            android:theme="@style/BaseAppTheme"/>
        <activity
            android:name=".ui.modules.share.ShareAppManagerActivity"
            android:theme="@style/BaseAppTheme"/>
        <activity
            android:name=".ui.modules.about.FeedbackActivity"
            android:theme="@style/BaseAppTheme"/>
        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <activity
            android:name=".ui.modules.activity.UniversalCopyActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/ScreenCaptureTheme"/>
        <activity
            android:name=".ui.modules.activity.TotalSwitchActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/ScreenCaptureTheme"/>

        <service
            android:name=".util.quicksetting.GlobalCopyTile"
            android:icon="@drawable/notify_copy"
            android:label="@string/notify_copy_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name=".util.quicksetting.ScreenCaptureTile"
            android:icon="@drawable/notify_screen"
            android:label="@string/notify_srceen_cap"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name=".util.quicksetting.TotleSwitchTile"
            android:icon="@drawable/notify_on"
            android:label="@string/notify_total_switch_on"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service
            android:name=".ui.service.RemoteViewServiceImp"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <activity
            android:name=".ui.modules.activity.KeepAliveActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:process=":monitor"
            android:theme="@style/KeepAliveActivtyTheme"/>
        <activity
            android:name=".ui.modules.user.LoginActivity"
            android:theme="@style/AppTheme.Dark"/>
        <activity
            android:name=".ui.modules.user.SignupActivity"
            android:theme="@style/AppTheme.Dark"/>
        <activity
            android:name=".ui.modules.about.AboutActivity"
            android:theme="@style/BaseAppTheme"/>
        <activity
            android:name=".ui.modules.user.UserDetailActivity"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name=".ui.modules.operate.InfoOperationActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/EditDialogStyle"
            android:windowSoftInputMode="adjustNothing">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN"/>-->

            <!--<category android:name="android.intent.category.LAUNCHER"/>-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".ui.modules.minimain.HistoryActivity"
            android:launchMode="singleInstance"
            android:theme="@style/TimeCatTheme"
            android:windowSoftInputMode="adjustNothing"/>

        <activity
            android:name=".ui.modules.editor.EditorActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.modules.about.SchedulesHelpActivity"
            android:theme="@style/Theme.Intro"/>
        <activity
            android:name=".ui.modules.about.RoutinesHelpActivity"
            android:theme="@style/Theme.Intro"/>
        <activity
            android:name=".ui.modules.about.NotesHelpActivity"
            android:theme="@style/Theme.Intro"/>
        <activity
            android:name=".ui.modules.about.PlansHelpActivity"
            android:theme="@style/Theme.Intro"/>

        <activity
            android:name=".ui.modules.achievement.AchievementActivity"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name=".ui.modules.statistic.StatisticalActivity"
            android:theme="@style/AppBaseTheme"/>
        <activity
            android:name=".ui.modules.pomodoro.PomodoroActivity"
            android:theme="@style/Theme.Design.NoActionBar"/>

        <activity
            android:name=".ui.modules.plans.detail.PlanDetailActivity"
            android:theme="@style/Theme.Design.NoActionBar"/>

        <activity android:name=".ui.modules.setting.SettingPomodoroActivity"
                  android:theme="@style/ColorTranslucentTheme"/>

        <activity android:name=".ui.modules.editor.RichTextEditorActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                  android:windowSoftInputMode="stateVisible|adjustResize"/>

        <receiver android:name=".TimeCatAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.time.cat.TimeCatAppWidget.action.add"/>
                <action android:name="com.time.cat.TimeCatAppWidget.action.list"/>
                <action android:name="com.time.cat.TimeCatAppWidget.action.refresh"/>
                <action android:name="com.time.cat.TimeCatAppWidget.action.PREVIOUS_MONTH"/>
                <action android:name="com.time.cat.TimeCatAppWidget.action.NEXT_MONTH"/>
                <action android:name="com.time.cat.TimeCatAppWidget.action.RESET_MONTH"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/time_cat_app_widget_info"/>
        </receiver>
        <service
            android:name="com.time.cat.ui.service.TickService"
            android:enabled="true"
            android:exported="false">
        </service>
    </application>

</manifest>